<% include header.ejs %>
<img src="images/papadoble.jpg" style="max-height: 300px; display:block; margin-left: auto; margin-right: auto">
<div class="output">
  <p>
    $ echo $PAPADOBLE<br>
    An API for literary cocktails!<br>
    $ curl -XGET http://papadoble.net/api <br>
{"name":"Martini","ingredients":{"gin":"2 oz","vermouth":".25 oz"},"instructions":"Shake with ice and strain into a glass. Garnish with an olice","source":"Wikipedia","book":"Garden of Eden","_id":"540b46fdcbc10b0b002d976d"}
  </p>
</div>
<div style="text-align: right; padding-top: 20px; padding-right: 40px">
  <a href="/find">Mix Your Own&gt</a>
</div>
<% include footer %>
